In [1]:
import pandas
import matplotlib

In [32]:
bme280_df = pandas.read_csv('data/bme280-temp-20220824-0701.csv', parse_dates=['created_at'])

In [33]:
bme280_df.dropna(axis=1, how='all',inplace=True)

In [34]:
bme280_df

                              id  value  feed_id                created_at
0     0F394802PN525D0ZDE538HAX3W  28.07  2301481 2022-08-15 09:33:11+00:00
1     0F3948KE7CYNAEKZPEZCKXNREF  27.60  2301481 2022-08-15 09:34:15+00:00
2     0F39494SEG5W51HTACX9DGG3YV  27.60  2301481 2022-08-15 09:35:12+00:00
3     0F3949Q2JBHQXNZBHM7CG0KFJ9  27.57  2301481 2022-08-15 09:36:11+00:00
4     0F394A9BWAE6ACTAQ9PM2DRAAG  27.59  2301481 2022-08-15 09:37:11+00:00
...                          ...    ...      ...                       ...
7386  0F3G963A7HKN6PFPJMK1WKX50Z  20.94  2301481 2022-08-24 06:56:29+00:00
7387  0F3G96NK80QB0R1ZD86MDJV9GC  20.91  2301481 2022-08-24 06:57:29+00:00
7388  0F3G97819MBF3T7PKWNZGT4T5K  20.99  2301481 2022-08-24 06:58:29+00:00
7389  0F3G97TAAXENT27BZPVM7JPP4D  20.93  2301481 2022-08-24 06:59:29+00:00
7390  0F3G98CKCJVN5WXD44WD1N9XET  20.99  2301481 2022-08-24 07:00:29+00:00

[7391 rows x 4 columns]

In [35]:
tmp36_df =  pandas.read_csv('data/temp-tmp36-20220824-0659.csv',  parse_dates=['created_at'])

In [36]:
tmp36_df.dropna(axis=1, how='all', inplace=True)

In [37]:
yesterday = '2022-08-23'
bmey = bme280_df[bme280_df['created_at']>= yesterday]
bmey

                              id  value  feed_id                created_at
5986  0F3FG4PJWS6Y4DM8J4MX7JADTC  23.13  2301481 2022-08-23 07:35:56+00:00
5987  0F3FG58YC0NBPSXARM9B0XG21K  22.27  2301481 2022-08-23 07:36:56+00:00
5988  0F3FG5V7DX244Y45PSD7M1AMQN  22.28  2301481 2022-08-23 07:37:56+00:00
5989  0F3FG6DGEE422Q8WCM8NBK0F5K  22.39  2301481 2022-08-23 07:38:56+00:00
5990  0F3FG6ZYFQTBCJYZW6HJ0KCA03  22.24  2301481 2022-08-23 07:39:56+00:00
...                          ...    ...      ...                       ...
7386  0F3G963A7HKN6PFPJMK1WKX50Z  20.94  2301481 2022-08-24 06:56:29+00:00
7387  0F3G96NK80QB0R1ZD86MDJV9GC  20.91  2301481 2022-08-24 06:57:29+00:00
7388  0F3G97819MBF3T7PKWNZGT4T5K  20.99  2301481 2022-08-24 06:58:29+00:00
7389  0F3G97TAAXENT27BZPVM7JPP4D  20.93  2301481 2022-08-24 06:59:29+00:00
7390  0F3G98CKCJVN5WXD44WD1N9XET  20.99  2301481 2022-08-24 07:00:29+00:00

[1405 rows x 4 columns]

In [38]:
tmp36y = tmp36_df[tmp36_df['created_at'] >= yesterday]
tmp36y

                              id     value  feed_id                created_at
1524  0F3FG5R1VCYFQHC4CZHY5KZNDM  24.94300  2303967 2022-08-23 07:37:46+00:00
1525  0F3FG6ADBABYJCSKWHT20JV35Y  25.50698  2303967 2022-08-23 07:38:46+00:00
1526  0F3FG6WPECMYGWR0RGNHV86WVW  25.02358  2303967 2022-08-23 07:39:46+00:00
1527  0F3FG7EZEC48XPPXH3TCV7AV2X  25.42642  2303967 2022-08-23 07:40:46+00:00
1528  0F3FG818FQRY2P6TA1XMJ738X4  25.42642  2303967 2022-08-23 07:41:46+00:00
...                          ...       ...      ...                       ...
2921  0F3G954M9ZEGJ2T71AT1845B3P  24.21790  2303967 2022-08-24 06:54:48+00:00
2922  0F3G95PXC2SHYFMT4ZKG3WENEV  23.97620  2303967 2022-08-24 06:55:48+00:00
2923  0F3G9696E936QVA1KEJA79610Q  24.21790  2303967 2022-08-24 06:56:48+00:00
2924  0F3G96VFE4S3TV5SPR5AA8CF99  23.97620  2303967 2022-08-24 06:57:48+00:00
2925  0F3G97DRJPPFT4QPS24MH98KYQ  24.29847  2303967 2022-08-24 06:58:48+00:00

[1402 rows x 4 columns]

I need to
2. remove id, feed_id
1. rename the value columns so they have different names
3. convert the dates into yyyy-mm-dd-hh-mm values so the two tables can be joined
2. join the and remove data rows with NANs

In [39]:
del bmey['id']
del bmey['feed_id']

In [40]:
bmey

      value                created_at
5986  23.13 2022-08-23 07:35:56+00:00
5987  22.27 2022-08-23 07:36:56+00:00
5988  22.28 2022-08-23 07:37:56+00:00
5989  22.39 2022-08-23 07:38:56+00:00
5990  22.24 2022-08-23 07:39:56+00:00
...     ...                       ...
7386  20.94 2022-08-24 06:56:29+00:00
7387  20.91 2022-08-24 06:57:29+00:00
7388  20.99 2022-08-24 06:58:29+00:00
7389  20.93 2022-08-24 06:59:29+00:00
7390  20.99 2022-08-24 07:00:29+00:00

[1405 rows x 2 columns]

In [41]:
del tmp36y['id']
del tmp36y['feed_id']

In [42]:
bmey.rename(columns={'value' : 'bme280'}, inplace=True)

/tmp/ipykernel_186290/99794849.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bmey.rename(columns={'value' : 'bme280'}, inplace=True)

In [43]:
bmey

      bme280                created_at
5986   23.13 2022-08-23 07:35:56+00:00
5987   22.27 2022-08-23 07:36:56+00:00
5988   22.28 2022-08-23 07:37:56+00:00
5989   22.39 2022-08-23 07:38:56+00:00
5990   22.24 2022-08-23 07:39:56+00:00
...      ...                       ...
7386   20.94 2022-08-24 06:56:29+00:00
7387   20.91 2022-08-24 06:57:29+00:00
7388   20.99 2022-08-24 06:58:29+00:00
7389   20.93 2022-08-24 06:59:29+00:00
7390   20.99 2022-08-24 07:00:29+00:00

[1405 rows x 2 columns]

In [44]:
tmp36y.rename(columns={'value' : 'bme280'}, inplace=True)

/tmp/ipykernel_186290/1817597245.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp36y.rename(columns={'value' : 'bme280'}, inplace=True)

In [45]:
tmp36y

        bme280                created_at
1524  24.94300 2022-08-23 07:37:46+00:00
1525  25.50698 2022-08-23 07:38:46+00:00
1526  25.02358 2022-08-23 07:39:46+00:00
1527  25.42642 2022-08-23 07:40:46+00:00
1528  25.42642 2022-08-23 07:41:46+00:00
...        ...                       ...
2921  24.21790 2022-08-24 06:54:48+00:00
2922  23.97620 2022-08-24 06:55:48+00:00
2923  24.21790 2022-08-24 06:56:48+00:00
2924  23.97620 2022-08-24 06:57:48+00:00
2925  24.29847 2022-08-24 06:58:48+00:00

[1402 rows x 2 columns]

In [46]:
type(bmey['created_at'].values)

numpy.ndarray