In [1]:
import pandas
import matplotlib

In [2]:
from compare_temperatures.plot_temperatures import read_adafruit_feed_csv
yesterday = '2022-08-23'

In [3]:
bme280 = read_adafruit_feed_csv('data/bme280-temp-20220824-0701.csv', 'bme280', yesterday)
tmp36 = read_adafruit_feed_csv('data/temp-tmp36-20220824-0659.csv', 'tmp36', yesterday)

In [4]:
bme28

      bme280                created_at
5986   23.13 2022-08-23 07:35:56+00:00
5987   22.27 2022-08-23 07:36:56+00:00
5988   22.28 2022-08-23 07:37:56+00:00
5989   22.39 2022-08-23 07:38:56+00:00
5990   22.24 2022-08-23 07:39:56+00:00
...      ...                       ...
7386   20.94 2022-08-24 06:56:29+00:00
7387   20.91 2022-08-24 06:57:29+00:00
7388   20.99 2022-08-24 06:58:29+00:00
7389   20.93 2022-08-24 06:59:29+00:00
7390   20.99 2022-08-24 07:00:29+00:00

[1405 rows x 2 columns]