In [1]:
import pandas
from compare_temperatures.plot_temperatures import read_adafruit_feed_csv

In [2]:
yesterday = '2022-08-23'

In [3]:
bme280 = read_adafruit_feed_csv('data/bme280-temp-20220824-0701.csv', 'bme280', yesterday)
tmp36 = read_adafruit_feed_csv('data/temp-tmp36-20220824-0659.csv', 'tmp36', yesterday)

In [4]:
bme280

      bme280                   created
5986   23.13 2022-08-23 07:35:00+00:00
5987   22.27 2022-08-23 07:36:00+00:00
5988   22.28 2022-08-23 07:37:00+00:00
5989   22.39 2022-08-23 07:38:00+00:00
5990   22.24 2022-08-23 07:39:00+00:00
...      ...                       ...
7386   20.94 2022-08-24 06:56:00+00:00
7387   20.91 2022-08-24 06:57:00+00:00
7388   20.99 2022-08-24 06:58:00+00:00
7389   20.93 2022-08-24 06:59:00+00:00
7390   20.99 2022-08-24 07:00:00+00:00

[1405 rows x 2 columns]

In [5]:
merged_temps = pandas.merge(tmp36, bme280)
merged_temps

         tmp36                   created  bme280
0     24.94300 2022-08-23 07:37:00+00:00   22.28
1     25.50698 2022-08-23 07:38:00+00:00   22.39
2     25.02358 2022-08-23 07:39:00+00:00   22.24
3     25.42642 2022-08-23 07:40:00+00:00   22.20
4     25.42642 2022-08-23 07:41:00+00:00   22.01
...        ...                       ...     ...
1400  24.21790 2022-08-24 06:54:00+00:00   20.95
1401  23.97620 2022-08-24 06:55:00+00:00   20.98
1402  24.21790 2022-08-24 06:56:00+00:00   20.94
1403  23.97620 2022-08-24 06:57:00+00:00   20.91
1404  24.29847 2022-08-24 06:58:00+00:00   20.99

[1405 rows x 3 columns]

In [6]:
merged_temps['difference'] = merged_temps['tmp36'] - merged_temps['bme280']

In [7]:
merged_temps

         tmp36                   created  bme280  difference
0     24.94300 2022-08-23 07:37:00+00:00   22.28     2.66300
1     25.50698 2022-08-23 07:38:00+00:00   22.39     3.11698
2     25.02358 2022-08-23 07:39:00+00:00   22.24     2.78358
3     25.42642 2022-08-23 07:40:00+00:00   22.20     3.22642
4     25.42642 2022-08-23 07:41:00+00:00   22.01     3.41642
...        ...                       ...     ...         ...
1400  24.21790 2022-08-24 06:54:00+00:00   20.95     3.26790
1401  23.97620 2022-08-24 06:55:00+00:00   20.98     2.99620
1402  24.21790 2022-08-24 06:56:00+00:00   20.94     3.27790
1403  23.97620 2022-08-24 06:57:00+00:00   20.91     3.06620
1404  24.29847 2022-08-24 06:58:00+00:00   20.99     3.30847

[1405 rows x 4 columns]

In [8]:
merged_temps['tmp36'].corr(merged_temps['bme280'])

0.992126011927515